version: '3.8'
services:
  postgres:
    image: postgres:15
    container_name: crm_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: securepassword
      POSTGRES_DB: mini_crm
    ports:
      - '5433:5432'  # <--- CHANGED THIS LINE (5433 on left)
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: